
.app-sidebar__user-avatar {
    width: 50px;
}


.headerRegister, .header-primary {
    background-color: #009688;
    color: #FFF;
}

.headerUpdate{
    background-color: #007bff;
    color: #FFF;
}


.notBlock{
    display: none;
}


/*Estilos login*/
#divLoading{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(254, 254, 255, .65);
    z-index: 9999;
    display: none;
}

#divLoading img{
    width: 50px;
    height: 50px;
}


.required{
    color: red;
    font-size: 13pt;
    font-weight: bold;
}